/* BASE */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS VARIABLES */
:root {
  /* COLORS */
  --bg-color: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --heading-stats: hsl(0, 0%, 100%);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
  --para-color: hsla(0, 0%, 100%, 0.75);

  /* FONT & TYPO */
  --first-font: "Inter", sans-serif;
  --second-font: "Lexend Deca", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 400;
  --font-semi-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* FRONTEND MENTOR */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--stat-headings);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* LAYOUT */
body {
  background-color: var(--bg-color);
  font-size: var(--normal-font-size);
}

.bg-container {
  border-radius: 0.5rem;
  background-color: var(--card-bg);
  width: 250px;
  margin: var(--mb-4) auto;
  overflow: hidden;
}

.img-container {
  position: relative;
}

.desktop-img {
  display: block;
  width: 100%;
  height: 100%;
}

.img-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(121, 14, 188, 0.486);
}

.words-container {
  text-align: center;
  margin: var(--mb-3);
}

.highlight {
  color: var(--accent);
}

.heading,
.numbers {
  font-family: var(--first-font);
  color: var(--heading-stats);
  line-height: 1.6;
}

.heading {
  font-size: var(--h2-font-size);
}

.subtitle,
.numb-heads {
  font-family: var(--second-font);
  color: var(--para-color);
}
.subtitle {
  font-size: x-small;
  line-height: 1.9;
}
.numb-heads {
  font-size: xx-small;
}
.numbers {
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
}

.subtitle {
  margin: var(--mb-1) 0;
}

.stat-divs {
  padding: var(--mb-1) 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 426px) {
  .bg-container {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 50% 50%;
    min-width: 600px;
    height: auto;
    margin: var(--mb-2) auto;
  }

  .words-container {
    text-align: left;
    margin: var(--mb-5);
    justify-content: center;
    align-items: center;
  }

  .heading {
    font-size: 1.2rem;
  }

  .subtitle {
    line-height: 1.6;
  }

  .numbers {
    font-size: 0.67rem;
  }

  .numb-heads {
    font-size: 0.47rem;
  }

  .stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
